body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 20px;
}
  

.board-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
  
  
.chessboard {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;  
}
  

.chessboard td {
  position: relative;
  width: 7.14%;
  height: 0;
  padding-bottom: 7.14%;
}

.chessboard td.highlight {
  filter: sepia(0.6) saturate(1.75) brightness(1);
}

.piece {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;        
  height: auto;
  object-fit: contain; 
}

.white {
  background-color: #f0d9b5;
}

.black {
  background-color: #b58863;
}

.background {
  background-color: #ffffff;
}

